<div class="share-buttons">
					<a href="whatsapp://send?text={{encode title}} &rarr; {{url absolute="true"}}" target="_blank" rel="noopener" class="btn btn-sm whatsapp">{{> "icons/whatsapp"}}</a>
					<a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" target="_blank" rel="noopener" class="btn btn-sm twitter" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">{{> "icons/twitter"}}</a>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener" class="btn btn-sm facebook" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">{{> "icons/facebook"}}</a>
</div>
